<template name="caresheetpopup" >
	<div class="popup-div">
		<div class="tab-head">
			<ul>
				<li class="active" data-tab="caresheet">Caresheet</li>
				<li data-tab="claim">Claim</li>
				<li data-tab="settlement">Settlement</li>
			</ul>
		</div>
		<div class="search-box">
			<form>
				<input type="file" name="" id="file-upload-input"><button>select file</button>
			</form>
		</div>
		<div class="tab-main">

			<div class="tab-content active" id="caresheet">
				<div class="content-left">
					<img src="images/caresheet-img.jpg" alt="" id="careSheetImg">
				</div>
				<div class="content-right">
					<div class="clinical-document">
						<h2>Clinical documentation</h2>
						<ul>
							<li><a href="#" title="View Care Plan">View Care Plan</a></li>
							<li><a href="javascript:void(0);" class="edit-caresheet">Edit Caresheet</a>
							<div class="caresheet-form">
								<form>
									<div class="form-group">
										<div class="controls box">
											<label for="name" class="control-label">Name</label>
											<input value="" class="form-control" name="name" id="name" type="text">
										</div>
									</div>
									<div class="form-group">
										<div class="controls box">
											<label for="memberid" class="control-label">Member Id</label>
											<input value="" class=" form-control" name="memberid" id="memberid" type="text">
										</div>
									</div>
									<div class="form-group">
										<div class="controls box">
											<label for="Address" class="control-label">Address</label>
											<textarea></textarea>
										</div>
									</div>
									<div class="form-group">
										<div class="controls box">
											<label for="Gender" class="control-label">Gender</label>
											<input type="radio" name="gender" value="male" checked> Male
  											<input type="radio" name="gender" value="female"> Female<br>
  										</div>
									</div>
									<div class="form-group">
										<div class="controls box">
											<label for="injury" class="control-label">Injury/Illness</label>
											<input value="" class="form-control" name="injury" id="injury" type="text">
										</div>
									</div>
									<div class="form-group">
										<div class="controls box">
											<label for="allergy" class="control-label">Allergy</label>
											<input value="" class="form-control" name="allergy" id="allergy" type="text">
										</div>
									</div>
									<div class="form-group">
										<div class="controls box">
											<label for="clinical-information" class="control-label">Clinical information</label>
											<input value="" class="form-control" name="clinical-information" id="clinical-information" type="text">
										</div>
									</div>
									<button class="submit-btn">Submit</button>
								</form>
							</div>
							</li>
						</ul>
					</div>
					<div class="content-bottom">
						<ul>
							<li>Direct billable to SUNU (3rd party)
								<label class="switch">
								  <input type="checkbox" checked>
								  <div class="switch-btn round"></div>
								</label>
							</li>
							<li>Certify Caresheet
								<label class="switch">
								  <input type="checkbox" checked>
								  <div class="switch-btn round"></div>
								</label>
							</li>
							<li><button class="cancel-btn">Cancel</button> <button class="next-btn">Next</button></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="tab-content" id="claim">
				<div class="content-left">
					<img src="" alt="">
				</div>
				<div></div>
			</div>
			<div class="tab-content" id="claim">
				<div class="content-left">
					<img src="" alt="">
				</div>
				<div></div>
			</div>

		</div>
	</div>
	<div class="ui large modal">
	  {{> caresheetedit}}
	</div>
</template>
