
<template name="caresheetedit" >
  <div>
      <div id="caresheetdetails" class="ui modal additionalContentDiv">
        <div class="header"><b>Care Sheet Details:</b></div>
        <div class="content">
        <div id="caresheetform" class="content" style="height:50%; width:40%;">
          <div></div>
          <!-- {{#with memberInfo}} -->
          <form class="ui form">
          <div style="width: 250%; padding: 15px;">
            <span id= "memberId">Member Id: <span class="ui input focus">
                <input class="form-control" type="text" name="memberId" >
              </span>
            </span>
            <span id= "memberFirstName">First Name: <span class="ui input focus" placeholder="First Name">
                <input class="form-control" type="text" name="firstName" >
              </span>
            </span>
          <span id= "memberLastName">Last Name: <span class="ui input focus" placeholder="Last Name">
                <input class="form-control" type="text" name="lastName" >
            </span>
          </span>
        </div>
        <div style="width: 250%; padding: 15px;">
          <span id= "address1">Address 1:<span class="ui input focus" placeholder="Number, Building ">
                <input type="text" name="address1" >
            </span>
          </span>
          <span id= "address2">Address 2:<span class="ui input focus" placeholder="Street ">
                <input type="text" name="address2" >
              </span>
          </span>
          <span id= "address3">Address 3:<span class="ui input focus" placeholder="Area ">
              <input type="text" name="address3" >
            </span>
          </span>
        </div>
        <div style="width: 250%; padding: 15px;">
        <span id= "city">City:    <span class="ui input focus" placeholder="City ">
              <input type="text" name="city" >
          </span>
        </span>
        <span id= "zipcode">Zipcode: <span class="ui input focus" placeholder="Zip code ">
                <input type="text" name="zipcode" >
            </span>
        </span>
        <span id= "dateofbirth">DOB: <span class="ui input focus" placeholder="Date of Birth">
                <input type="text" name="dateofbirth">
            </span>
        </span>
      </div>
      <div style="width: 250%; padding: 15px;">
        <div class="grouped fields">
          <label>Gender:</label>
          <div class="ui radio checkbox">
            <input type="radio" name="{{_id}}_gender" id="male" >
            <label>Male</label>
          </div>
          <div class="ui radio checkbox">
            <input type="radio" name="{{_id}}_gender" id="female" >
            <label>Female</label>
          </div>
        </div>
      </div>
        <div class="ui form">
        <div class="field">
          <label>Chief complaint :</label>
          <textarea id="compliants" name="compliants" ></textarea>
        </div>
      </div>
    </form>
      <!-- {{/with}} -->
    </div>
  </div>
  <div class="actions">
    <div class="ui button red" id="cancel">Cancel</div>
    <div class="ui button green" type="submit" id="save">Save</div>
  </div>
</div>
</div>
</template>
