<template name="careSheet">
    <div  style="width:background-color:blue">
      <div>
      <form>
        <div>
          <span class="ui input" style="width: 60%;">
            <input type="text" placeholder="Files to upload"  class="ui input" id="fileInputText"></span>
            <span><input type="file" class="file-upload-input" contenttype="images" name="files" single="">
          </span>
        </div>
      </form>
    </div>
      <div  style="backgroundColor:red; width:100%" >
      <!--    <div style="width:50%; backgroundColor:blue">
              <img class="ui large rounded  caresheet_img" id="chareSheetImg">
            </div>-->
          <div style="width:50%; backgroundColor:green fluid">
                <h1>Clinical Documentation</h1>
          </div>

      </div>
     <div  style="background-color:red">

    </div>
</div>
  </template>
