<template name="claims">
  <div class="ui grid">
    <div class="ui left three wide column light " id="filterSection">
      {{> claimSearch}}
    </div>
    <div class="ui thirteen wide column " id="main">
       {{> claimList}}
    </div>
  </div>
  </template>
  <template name="claimSearch">
    <div class="content " style="margin-top:5px;">
      Filters
    </div>
    <form class="ui form">
    <div class="field">
      <div class="ui input very large ">
        <input id="patient_name" placeholder="Patient Name" type="text" />
      </div>
    </div>
    <div class="field">
      <div class="ui input large">
        <input type="text" placeholder="From Date"  id="fromdatepicker">
      </div>
    </div>
      <div class="ui input large">
        <input type="text" placeholder="To Date"  id="todatepicker">
      </div>
    </form>
  </template>

  <template name="claimList">
    <div class="ui mini green button left" id="addClaimButton"><i class="ui add icon"></i>New Claim</div>
    <table class="ui large very striped table" id="claimList">
      <thead>
        <tr>
      <th class="one wide">Select</th>
      <th class="three column wide">Name</th>
      <th class="three column wide">Status</th>
      <th class="three column wide">Type</th>
      <th class="three column wide">Submitted</th>
      <th class="three column wide">Last SUNU Update</th>
    </tr>
  </thead>
  {{#if hasItem}}
    {{#each list}}
    <tr>
      <td><input type="checkbox">{{rowNumber}}</td>
      <td>{{name}}</td>
      <td>{{status}}</td>
      <td>{{type}}</td>
      <td>{{submitted}}</td>
      <td>{{sunuUpdate}}</td>
    </tr>
    {{/each}}
    {{else}}
    <div class="row encounter-list__row encounter-list__row-empty">
      <div class="encounter-list__row__col last col-md-12 text-center">No Patients found</div>
    </div>
    {{/if}}
</table>
</template>
