/* CSS declarations go here */

@media only screen and (min-width: 768px) {
  .ui.tiny.modal {
    width: 25%;
    margin: 0em 0em 0em -25%;
  }
}


.caresheet_img{
  height: 400px;
  width: 400px;
}
#patientDetailsContainer{
    margin-top: 2%;
    width: 100%;
    height: 320px;
  }
  #submitDiv{
    height: 5%;
    width:100%;
  }
  #div0,#div1,#div2,#div3,#div4,#div5,#div6,#divv,#divw,#bioVeriDiv{
    background-color: #e0e0e0;
    height: 50px;
    margin: 1px;
    padding:10px 20px ;
    font-size: 20px;
    font-family: arial;
    font-weight: bolder;
  }
  #patientCheckInButtonCancel,#patientCheckInButton{
    font-size: 12px;
    background:cyan;
    border: 1px solid #222;
    font-weight: bold;
  }
  #patientCheckInButtonCancel{
    font-size: 12px;
    background: red;
    border: 1px solid #222;
    font-weight: bold;
  }

  #fileUpload{
    background-color: blue;
    height: 30%;
  }

  #caresheetContainer{
    background-color: green;
  }
  /*.popup-div {max-width: 900px;
	max-height: 602px;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	z-index: 9999;
	padding: 78px 116px;
	text-align: center;
}*/

.popup-div .tab-head {float: left; width: 100%; clear: both;}
.popup-div .tab-head:after {  content: "."; visibility: hidden; display: block; height: 0; clear: both;}
.popup-div .tab-head ul {margin: 0 auto; width: 100%;}
.popup-div .tab-head ul li{background: #ccc; font-weight: bold; cursor: pointer; color: #000; float: left; list-style: none; text-align: center; padding: 10px; width: 33.33%;}
.popup-div .tab-head ul li.active {background: #3fa9f5; color: #fff;}
.search-box {display: table; padding: 20px; background: #fbfbfb;margin: 0 auto; width: 100%;}
.search-box input {border: 1px #ccc solid; float: left; height: 40px; width: 80%;}
.search-box button {background: #3fa9f5; border: none; box-shadow: none; color: #fff; font-size: 16px; height: 40px; letter-spacing: 1px; padding: 10px; text-transform: capitalize; width: 20%;}
.tab-content {width: 100%;}
.tab-content .content-left {float: left; text-align: center; width: 35%;}
.tab-content .content-left img {max-width: 100%;}
.tab-content .content-right {padding: 20px; float: left; width: 65%;}
.tab-content .content-right .clinical-document {background: #ccc; padding: 10px 0 0; width: 70%;}
.tab-content .content-right .clinical-document h2 {border-bottom: 1px #fff solid; text-transform: uppercase; color: #000; font-weight: 700; text-align: center; padding-bottom: 10px; margin: 0; font-size: 14px;}
.tab-content .content-right .clinical-document li {border-bottom: 1px #fff solid; font-weight: bold; padding: 10px 20px; width: 100%;}
.tab-content .content-right .clinical-document li a{color: #000; font-size: 13px; font-weight: 700; display: block; text-transform: uppercase; text-decoration: none;}
.tab-content .content-right .clinical-document .submit-btn {background: #3fa9f5; border: none; height: 35px; color: #fff; text-align: center; width: 120px;}
.tab-content .content-right .clinical-document .submit-btn:hover {color: #000;}
.caresheet-form {display: none; margin-top: 15px;}
.content-bottom {float: right; width: 100%;}
.content-bottom ul li {clear: both; text-align: right; font-weight: 700; font-size: 13px; margin-bottom: 20px; line-height: 26px; width: 100%;}
.switch {position: relative; display: inline-block;width: 60px;height: 26px; float: right; margin-left: 50px;}
.switch input {display:none;}
.switch-btn {position: absolute;cursor: pointer;top: 0; left: 0; right: 0; bottom: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s;}
.switch-btn:before {position: absolute; content: ""; height: 18px; width: 18px; left: 9px; bottom: 4px; background-color: white; -webkit-transition: .4s; transition: .4s;}
input:checked + .switch-btn {background-color: #2196F3;}
input:focus + .switch-btn {box-shadow: 0 0 1px #2196F3;}
input:checked + .switch-btn:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px); transform: translateX(26px);}
.switch-btn.round {border-radius: 34px;}
.switch-btn.round:before { border-radius: 50%;}
.cancel-btn {background: #dd514c; border: 1px #dd514c solid; color: #fff; font-size: 13px; text-transform: uppercase; height: 35px; width: 80px;}
.cancel-btn:hover {background: #fff; border: 1px #dd514c solid; color: #dd514c;}
.next-btn {background: #accb12; border: 1px #accb12 solid; color: #fff; font-size: 13px; text-transform: uppercase; height: 35px; margin-left: 20px; width: 80px;}
.next-btn:hover {background: #fff; border: 1px #accb12 solid; color: #accb12;}
/*.popup-div {max-width: 900px;
	max-height: 602px;
	position: fixed;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #fff;
	z-index: 9999;
	padding: 78px 116px;
	text-align: center;
}*/
.form-group input[type="text"], .form-group label, .form-group textarea {width: 100%; font-weight: normal; font-size: 13px;}
.form-group input[type="text"], .form-group textarea {border: 1px #ccc solid; border-radius: 0; box-shadow: none;}
.form-group textarea {height: 100px; padding: 10px;}
.form-group input[type="text"] {height: 35px;}
.form-group {margin-bottom: 10px; font-weight: normal;}
.form-group label {text-transform: uppercase; font-weight: 700; font-size: 12px;}
ol, ul {
   list-style: none;
 }

 #additionalContentDiv{
  background-color: white;
  width:50%;
  height:40%;
  margin-left: 20%;
  margin-top:20%;
  padding: 10px 20px;
  border-radius: 1%;
  border-color: green;
  font-family: Arial;
  color: green;
  font-size: 20px;
}
