<template name="claim">
<div class="ui four item stackable tabs menu" id="tabularmenu">
  <a class="active item" id="1" data-tab="tab-name">Home</a>
  <a class="item" id="2" data-tab="tab-name2">Encounters</a>
  <a class="item" data-tab="claimList">Claims</a>
  <a class="item" data-tab="tab-name4">Reports</a>
</div>

<div class="ui tab huge" data-tab="claimList">
{{> claims}}
</div>

<div class="ui tab" data-tab="tab-name">
Home
</div>
<div class="ui large modal" id="genericModal">
  {{> modal}}
</div>

</template>
