<template name="selectencounter">
  <div class="ui header very large">
    <p align=center>Select Encounters</p>
  </div>
  <table class="ui large very striped table" id="claimList">
    <thead>
  <tr>
    <th class="one column wide"></th>
    <th class="three column wide">Name</th>
    <th class="three column wide">Type</th>
    <th class="three column wide">Date prepared</th>
  </tr>
</thead>
{{#if hasItem}}
  {{#each list}}
  <tr>
    <td>
      <input type="radio" name="selectencounterfield" id={{_id}}>
    </td>
      <td>{{name}}</td>
      <td>
      <div class="ui selection dropdown">
        <input type="hidden" name="gender">
          <i class="dropdown icon"></i>
            <div class="default text">Claim type</div>
            <div class="menu">
              <div class="item" data-value="1">Claim</div>
              <div class="item" data-value="2">Prior Auth</div>
              <div class="item" data-value="3">Medievac</div>
            </div>
      </div>
    </td>
    <td>{{dateOfEncounter}}</td>

    </tr>
  {{/each}}
  {{else}}
  <div class="row encounter-list__row encounter-list__row-empty">
    <div class="encounter-list__row__col last col-md-12 text-center">No Eligible encounters</div>
  </div>
  {{/if}}
</table>
  <div class="actions">
    <div class="ui button red" id="cancel">Cancel</div>
    <div class="ui button green" id="next">Next</div>
  </div>

</template>

<template name="claimprocess">
  <div class="ui two item stackable tabs menu" id="claimMenu">
    <a class="active item" id="1" data-tab="careSheet">Care Sheet</a>
    <a class="item" id="2" data-tab="claimList">Claims</a>
  </div>

  <div class="ui tab" data-tab="claimList">
  {{> claims}}
  </div>

  <div class="ui tab" data-tab="careSheet">
  {{> caresheetpopup}}
  </div>

</template>
